<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zw.co.guava.soterio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.get_and_upload_info.feed"></activity>
        <activity android:name=".ui.get_and_upload_info.testing_centers" />
        <activity android:name=".ui.get_and_upload_info.hospitals" />
        <activity android:name=".ui.onboarding.auth.VerifyPhone" />
        <activity android:name="zw.co.guava.soterio.ui.onboarding.permissions.get_started" />
        <activity android:name="zw.co.guava.soterio.ui.onboarding.permissions.enable_notifications" />
        <activity android:name="zw.co.guava.soterio.ui.onboarding.permissions.privacy_policy" />
        <activity android:name="zw.co.guava.soterio.ui.onboarding.permissions.enable_bluetooth" />
        <activity android:name="zw.co.guava.soterio.ui.onboarding.auth.VerifyAddress" />
        <activity android:name="zw.co.guava.soterio.ui.onboarding.auth.GetOtp" />
        <activity android:name="zw.co.guava.soterio.ui.main_apk.MainActivity" />
        <activity
            android:name=".ui.onboarding.Onboarding"
            android:label="@string/title_activity_onboarding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.SplashPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>