<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zw.co.guava.soterio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.getinfo.TestingCenters"></activity>
        <activity android:name=".ui.main.getinfo.Hospitals" />
        <activity android:name=".ui.main.getinfo.UploadEcounter" />
        <activity android:name=".ui.main.getinfo.ExposureNotifications" />

        <service
            android:name=".services.ForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.BluetoothService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.get_and_upload_info.feed" />
        <activity android:name=".ui.get_and_upload_info.testing_centers" />
        <activity android:name=".ui.get_and_upload_info.hospitals" />
        <activity android:name=".ui.onboarding.auth.VerifyPhone" />
        <activity android:name=".ui.onboarding.permissions.GetStarted" />
        <activity android:name=".ui.onboarding.permissions.EnableNotifications" />
        <activity android:name=".ui.onboarding.permissions.PrivacyPolicy" />
        <activity android:name=".ui.onboarding.permissions.EnableBluetooth" />
        <activity android:name=".ui.onboarding.auth.GetOtp" />
        <activity android:name=".ui.main.MainActivity" />
        <activity
            android:name=".ui.onboarding.Onboarding"
            android:label="@string/title_activity_onboarding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.SplashPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>